@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 249 253;
    --foreground: 34 34 34;
    --card: 255 255 255;
    --card-foreground: 8 28 30;
    --popover: 241 243 250;
    --popover-foreground: 25 28 35;
    --primary: 167 211 248;
    --primary-foreground: 255 255 255;
    --secondary: 255 221 233;
    --secondary-foreground: 25 28 35;
    --muted: 220 225 240;
    --muted-foreground: 97 103 123;
    --accent: 245 215 255;
    --accent-foreground: 25 28 35;
    --destructive: 255 185 185;
    --destructive-foreground: 25 28 35;
    --border: 230 235 246;
    --input: 222 228 240;
    --ring: 230 235 246;

    --android-background: 248 249 253;
    --android-foreground: 34 34 34;
    --android-card: 255 255 255;
    --android-card-foreground: 25 28 35;
    --android-popover: 241 243 250;
    --android-popover-foreground: 25 28 35;
    --android-primary: 167 211 248;
    --android-primary-foreground: 25 28 35;
    --android-secondary: 255 221 233;
    --android-secondary-foreground: 25 28 35;
    --android-muted: 220 225 240;
    --android-muted-foreground: 97 103 123;
    --android-accent: 245 215 255;
    --android-accent-foreground: 25 28 35;
    --android-destructive: 255 185 185;
    --android-destructive-foreground: 25 28 35;
    --android-border: 228 232 246;
    --android-input: 222 226 238;
    --android-ring: 228 232 246;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 18 21 30;
      --foreground: 230 232 240;
      --card: 30 33 42;
      --card-foreground: 230 232 240;
      --popover: 48 53 62;
      --popover-foreground: 230 232 240;
      --primary: 168 213 255;
      --primary-foreground: 18 21 30;
      --secondary: 255 186 198;
      --secondary-foreground: 18 21 30;
      --muted: 120 125 145;
      --muted-foreground: 170 175 193;
      --accent: 216 171 255;
      --accent-foreground: 18 21 30;
      --destructive: 255 140 140;
      --destructive-foreground: 18 21 30;
      --border: 48 53 62;
      --input: 60 65 73;
      --ring: 48 53 62;

      --android-background: 18 21 30;
      --android-foreground: 230 232 240;
      --android-card: 30 33 42;
      --android-card-foreground: 230 232 240;
      --android-popover: 48 53 62;
      --android-popover-foreground: 230 232 240;
      --android-primary: 168 213 255;
      --android-primary-foreground: 18 21 30;
      --android-secondary: 255 186 198;
      --android-secondary-foreground: 18 21 30;
      --android-muted: 120 125 145;
      --android-muted-foreground: 170 175 193;
      --android-accent: 216 171 255;
      --android-accent-foreground: 18 21 30;
      --android-destructive: 255 140 140;
      --android-destructive-foreground: 18 21 30;
      --android-border: 48 53 62;
      --android-input: 60 65 73;
      --android-ring: 48 53 62;
    }
  }
}
